.note-context-menu-container {
   display: grid;
   width: 150px;
   height: 100px;
   grid-template-columns: 3fr;
   position: absolute ;
   background-color: rgb(97, 97, 97);
   border: 2px solid rgba(214, 185, 20, 0.938);
   border-radius: 5px;
   color: rgb(245, 244, 241);
   z-index: 10;
   cursor: default;
}

.notes-list {
    display: grid;
    width: 150px;
    height: 100px;
    position: absolute ;
    background-color: rgb(97, 97, 97);
    border: 2px solid rgba(238, 238, 238, 0.938);
    border-radius: 5px;
    color: rgb(245, 244, 241);
    z-index: 10;
    cursor: default;
    overflow-y: scroll;
    row-gap: 5px;
 }

 .note {
    margin-left: 5px;
    height: 20px;
    width: max-content;
    background-color: rgb(97, 97, 97);
    color: rgb(245, 244, 241);
    border-bottom: 1px solid rgba(238, 238, 238, 0.938);
    z-index: 10;
    text-align: left;
    font-size: 10px;
    cursor: default;
    overflow-wrap: break-word;
 }

 .note-remove {
    display: inline-block;
    margin-left: 5px;
    height: 20px;
    background-color: rgb(97, 97, 97);
    color: rgb(255, 0, 0);
    text-align: left;
    font-size: 10px;
    font-weight: bolder;
    cursor: default;
 }

 .note-remove:hover {
    cursor: pointer;
 }

 .note-content {
    display: inline-block;
    margin-left: 5px;
    height: 20px;
    background-color: rgb(97, 97, 97);
    color: rgb(245, 244, 241);
    z-index: 10;
    text-align: left;
    text-overflow: clip;
    font-size: 10px;
    cursor: default;
    word-break:keep-all;
 }

.note:hover {
    background-color: rgb(192, 189, 189);
}

.note:hover * {
    background-color: rgb(192, 189, 189);
}

.noHover {
    pointer-events: none;
}

.note-input {
    z-index: 11;
    background-color: rgb(240, 233, 233);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(39, 39, 39);
    width: 140px;
    height: 40px; 
    border-radius: 5px;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    resize: none;
}

.note-save-button, .note-discard-button {
    bottom: 0;
    right: 0;
    /* background-color: rgb(97, 97, 97);
    border: 2px solid rgb(246, 160, 0);
    border-radius: 5px;
    color: rgb(245, 244, 241); */
    width: 50px;
    height: 20px;
    font-size: 10px;
    z-index: 12;
}

.note-circle {
    width: 5px;
    height: 5px;
    background-color: rgba(214, 185, 20, 0.938) !important;
    border-radius: 50%;
    display: inline-block;
    z-index: 9;
    position: absolute;

}